<html>
<head>
    <title>Battle of the Elements</title>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
</head>
<body>
    <div id="game">
        <div id="game-field">
            </div id="navbar">
                <button id="startGameButton">Start Game</button>
            </div>
            <div id="title-field">
                <div id="turn-box">Turn: {{ data.game.turn }}</div>
            </div id="row">
                <div id="side-box">
                    Player: {{ data.game.player1.name }}
                    Life: {{ data.game.player1.lifeTotal }}
                    Mana: {{ data.game.player1.manaTotal }}
                </div>
                <div id="mid-box"></div>
                    <button id="inputButton">input</button>
                <div id="side-box"></div>
            </div>
            </div id="row">
                <div id="side-box"></div>
                <div id="mid-box"></div>
                <div id="side-box"></div>
            </div>
            </div id="row">
                <div id="side-box">
                    Player: {{ data.game.player2.name }}
                    Life: {{ data.game.player2.lifeTotal }}
                    Mana: {{ data.game.player2.manaTotal }}
                </div>
                <div id="mid-box"></div>
                <div id="side-box"></div>
            </div>
            </div id="row">
                <div id="side-box"></div>
                <div id="mid-box"></div>
                <div id="side-box"></div>
            </div>
        </div>
    </div>
</body>
</html>